$media: (
  a: 1,
  beta: 2,
  gamma: 3
);

body {
  color: red;
  sqrt: sqrt(2);
  pow: pow(2,2);
  trunc: trunc(-444.566);
  sign: sign(-3);
}

.example {
  display: flex;
  transition: all 0.5s;
  user-select: none;
  background: linear-gradient(to bottom, white, black);
}
