extends /_layout--fail
include /_mixins

block body
  h1 Test: SCSS Failure
  ul
    li: a(href='/fail-scss/').curr SCSS Failure
    li: a(href='/fail-pug/') Pug Failure
    li: a(href='/fail-js/') JS Failure
