doctype html
html
  head
    meta(charset='utf-8')
    title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width')
    link(type='text/css', rel='stylesheet', href='main.css')
    style.
      body {
        font-family: sans-serif;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    block head
  body
    block body
    ul
      li: a(href='/fail/scss/') SCSS Failure
      li: a(href='/fail/pug/') Pug Failure
      li: a(href='/fail/js/').curr JS Failure
    script(type='text/javascript', src='main.js', async)
