<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
    style
      include:scss scss-test.scss
      //- include css-test.css
  body
    h1 hello world
    include:markdown markdown-test.md
    pre
      include:testFilter scss-test.scss
