//-
  FILTERS
  scss
  markdown
  markdown-inline

extends _layout
block content
  h1 pug filters testing
  h2 Sass
  pre
    include:scss ./read-sources/demo.scss
    include ./read-sources/demo.scss
    - var dyn = `include ./read-sources/demo.scss`
  pre #[strong #{'sheeit'}]
  h2 Markdown
  pre
    include:markdown ./read-sources/dummy.md
  pre
    :markdown-inline
      hi there **everyone**
