extends /_layout--fail
include /_mixins

block body
  h1 Test: JS Failure
  ul
    li: a(href='/fail-scss/') SCSS Failure
    li: a(href='/fail-pug/') Pug Failure
    li: a(href='/fail-js/').curr JS Failure
