$test: (
  a: 1, b: 2
);

$test: require('./other');
$info: img-info('/logo.svg');

.test {
  font-family: 'hello again';
  test: sqrt(9);
  test: pow(3, 4);

  /* #{inspect($test)} */
  /* #{inspect($info)} */
}
