extends /_layout
block head
  style.
    body { font-family: sans-serif; }

block body
  p JSON source
  pre!= dump(readData('./data.json'))
  p YML source
  pre!= dump(readData('./data.yml'))
  p YAML source
  pre!= dump(readData('./data.yaml'))
