ul
  li a
    display: block
    color: blue
    padding: 5px
    html.ie &
      padding: 6px
    &:hover
      color: red
.tests
  out add(1,2)
  out sub(1,2)
  out pow(2,2)
  out hypot(3,4)
  out deg2rad(180)
  out rad2deg(3.141592653589793)
