doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
  body
    // This is an HTML comment
    main
      h1 This come from a pug source
      pre= _casual.sentence
      pre!= markdown('# hello world')
      pre= pretty
      pre= doctype
